.perfil-admin {
    font-family: "Times New Roman", serif;
    padding: 15px;
  }
  
  .admin-info {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 2px solid #539395;
  }
  
  h2 {
    font-size: 30px;
    margin: 1;
  }
  
  .cursos-list {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .curso-button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color:#A3C9CC ;
    border: 2px solid #539395;
    transition: background-color 0.3s ease;
    border-radius: 80px;
  }
  
  .curso-button:hover {
    background-color: #a5dee3;
  }
  
  .curso-button.active {
    background-color: #d4edda;
    border-color: #28a745;
  }
  
  .alumnos-list {
    margin-bottom: 20px;
  }
  
  .alumno-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #A3C9CC;
    background-color: #cfb5ab2c;
    margin-bottom: 10px ;
    margin-left: 200px; 
    margin-right: 200px;
  }
  
  .alumno-correo {
    cursor: pointer;
    color: #4ca3ff;
    text-decoration: underline;
  }
  
  .alumno-correo:hover {
    color: #0056b3;
  }
  
  .toggle-button {
    padding: 5px 10px;
    border-radius: 80px;
    background-color: #f8d7da;
    border: none;
    cursor: pointer;
    color: #721c24;
    transition: background-color 0.3s ease;
  }
  
  .toggle-button:hover {
    background-color: #f5c6cb;
  }
  
  .deuda {
    font-style: italic;
    color: #539395;
  }
  .contraer-button {
    padding: 5px 10px;
    border-radius: 80px;
    background-color: #f8d7da;
    border: none;
    cursor: pointer;
    color: #721c24;
    transition: background-color 0.3s ease;

  }
  .mensajeria {
    margin-top: 40px;
    margin-left: 300px ;
    margin-right: 300px;
    
  }
  
  .correo-textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #539395;
    background-color: #cfb5ab4f;
  }
  
  .enviar-button {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .enviar-button:hover {
    background-color: #218838;
  }
  
  .mensaje-exito {
    color: #28a745;
    margin-top: 10px;
  }
  