.custom-navbar {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
}

.navbar-brand img {
    margin-right: 0.5rem;
}

.nav-link {
    font-size: 16px;
    color: #000;
    margin-right: 15px; /* Add margin to separate the links */
}

.nav-link:hover {
    color: #007bff;
}