* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the side navigation */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
}


/* Side navigation links */
.sidenav a {
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
}

/* Change color on hover */
.sidenav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the content */
.content {
  margin-left: 200px;
  padding-left: 20px;
}

/* Style the search*/
.search {
  padding: 11px;
  margin-left: 10%;
  margin-right: 20%;
}

/* Style the container */
.container {
  border: 1px solid #ddd;
  padding: 0 0 0 50px;
  margin-right: 10%;
  display: flex;
}

.container h3{
  margin-right: 50%;
}

.container select {
  padding: 10px;
}

.container2 {
  border: 1px solid #ddd;
  padding: 0 0 0 50px;
  margin-right: 10%;
  /* display: flex; */
}

.container2 ul {
  list-style-type: none;
  padding: 0;
}

.category{
  margin-left: 25%;
  display: flex;
}

.category a{
  margin-left: 25%;
  margin-top: 4%;
}

.container2 p{
  display: flex;
  flex-direction: row;
}

.container2 ul{
  flex-direction: row;
}

.container3{
  border: 1px solid #ddd;
  margin-left: 25%;
}

#amongus1{
  /* align-items: center; */
  /* display: flex; */
	/* flex-direction: column; */
}